/* FarewellPage.css */
.prizes {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .prize-display {
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
    margin-top: 10px;
  }
  
  .gold {
    background-color: gold;
  }
  
  .silver {
    background-color: silver;
  }
  
  .bronze {
    background-color: #cd7f32;
  }
  
  .ind_col{
    height: 40px;;
  }
